@page
@model IndexModel
@{
    ViewData["Title"] = "Profil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" disabled placeholder="Kullanıcı Adı" />
                <label asp-for="Username" class="form-label">Kullanıcı Adı</label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Telefon Numarası" />
                <label asp-for="Input.PhoneNumber" class="form-label">Telefon Numarası</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Kaydet</button>
        </form>
    </div>
</div>

<style>
    .form-floating {
        position: relative;
    }

        .form-floating .form-control {
            height: calc(3.5rem + 2px);
            padding: 1rem 0.75rem;
        }

        .form-floating label {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            padding: 1rem 0.75rem;
            pointer-events: none;
            border: 1px solid transparent;
            transform-origin: 0 0;
            transition: all 0.1s ease-in-out;
        }

        .form-floating input:focus + label,
        .form-floating input:not(:placeholder-shown) + label {
            padding: 0.25rem 0.75rem;
            font-size: 0.85rem;
            color: #495057;
            transform: scale(0.85) translateY(-1rem) translateX(0.15rem);
            background-color: white;
            border-radius: 0.25rem;
        }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
